.Button {
  font-size: 0.9rem;
  font-weight: bold;
  align-self: center;
  border-radius: 100px;
  border-style: none;
  padding: 5px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.7;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  color: black;
  background-color: #14ffec !important;
}

.Button:active {
  color: black;
  background-color: #14ffec !important;
}

.Button:focus {
  color: black;
  background-color: #14ffec !important;
}

.Bright {
  background-color: #14ffec !important;
  color: black !important;
}

.Bright:hover {
  background-color: #14ffec !important;
  color: black;
  border-color: transparent;
}

.Bright:focus {
  background-color: #0d7377 !important;
  color: black !important;
}

.Red {
  background-color: #ff4242 !important;
  color: black;
}

.Red:hover {
  background-color: #ff4242 !important;
  color: black;
  border-color: transparent;
}

.Red:focus {
  background-color: #ff4242 !important;
  color: black;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}