.Form {
  border: none;
}

.Button {
  border: none;
  background-color: #14ffec;
  color: white;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #0d7377;
  color: white;
}
