.Post {
  background-color: #323232;
  color: white;
  border-radius: 10px;
  border: 0.5px solid #dadadf;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #ff4524;
}

.Heart:hover {
  color: white;
}

.HeartOutline:hover {
  color: #ff4524;
}
