/* Main app styling */
.App {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  background-color: #212121;
  min-height: 100vh;
}

.Main {
  padding-top: 80px;
}

/* Content containers styling */
.Content {
  background-color: #323232;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #dadadf;
}

* {
  box-sizing: border-box;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

/* Line breaks styling */
hr {
  background-color: #dadadf;
}

input[type="file"] {
  display: none;
  border-style: none;
}

a {
  font-weight: 700;
  color: white;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:hover i {
  color: white;
  transition: color ease-in-out 0.3s;
}

i {
  color: #8f8f92;
  font-size: 1.2rem;
  padding: 10px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #000000;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
